<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tuteur">
            <h2><span jhiTranslate="gatewaydbApp.inscriptiondbTuteur.detail.title">Tuteur</span> {{ tuteur.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewaydbApp.inscriptiondbTuteur.nom">Nom</span></dt>
                <dd>
                    <span>{{ tuteur.nom }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaydbApp.inscriptiondbTuteur.prenom">Prenom</span></dt>
                <dd>
                    <span>{{ tuteur.prenom }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaydbApp.inscriptiondbTuteur.adresse">Adresse</span></dt>
                <dd>
                    <span>{{ tuteur.adresse }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaydbApp.inscriptiondbTuteur.email">Email</span></dt>
                <dd>
                    <span>{{ tuteur.email }}</span>
                </dd>
                <dt><span jhiTranslate="gatewaydbApp.inscriptiondbTuteur.sexe">Sexe</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'gatewaydbApp.Sexe.' + tuteur.sexe }}">{{ tuteur.sexe }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tuteur', tuteur.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
